

body{
    background-color:#564D65;
}

.container{
    background-color: #1A181B;
    padding: 20px;
    margin: 20px auto;
}

h1{
    font-family: "federo", sans-serif;
    padding: 10px;
    color: #CFCFEA;
}

h4{
    font-family: "playfair", serif;
    padding: 10px 10px 0px 10px;
    color: #A89B9D;
}

a{
    color: #CFCFEA;
    text-decoration: underline;
}

p{
    font-family: "playfair", serif;
    padding: 10px;
    font-size: 20px;
    color: #A89B9D;
}

.navcolor{
    background-color: #A89B9D;
}

.centering{
    margin-top: 25%;
}

