body{
    background-color:#564D65;
}

.container{
    background-color: #1A181B;
    padding: 20px;
    margin: 40px auto;
}

h1{
    font-family: "federo", sans-serif;
    color: #CFCFEA;
}

h4{
    font-family: "playfair", serif;
    color: #A89B9D;
    font-size: xx-large;
}

a{
    color: #CFCFEA;
    text-decoration: underline;
}

p{
    font-family: "playfair", serif;
    font-size: 20px;
    color: #A89B9D;
}

.navcolor{
    background-color: #A89B9D;
}

.centering{
    margin-top: 25%;
}

.margins{
    margin: 20px;
}

.dividing{
    border-top: 1px solid #A89B9D;
    margin: 20px 0;
}
